<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Todo List</title>
    <script src="/js/jquery-3.4.0.min.js"></script>
    <script src="/js/main.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
    <h1>Список дел (<span th:text="${todoCount}"></span>)</h1>
    <div id="todo-list">
        <div th:each="todo : ${todos}">
            <a href="#" class="todo-link" th:attr="data-id=${todo.id}" th:text="${todo.name}"></a>
            <br>
            <span th:text="${todo.description}"></span>
            <br>
            <span th:text="${todo.date}"></span>
            <br>
        </div>
    </div>
</body>
</html>